/* Clases para estructura y distribucion (containers, grids y wrappers) */

/* ---------- HEADER */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px 40px;
    height: 88px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

.header__logo{
    display: flex;
    width: 147px;
    height: 30px;
}

.header__main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.header__nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__end{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.header__lang{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.header__lang-flag{
    height: 20px;
    width: 32px;
    border-radius: 2px;
    overflow: hidden;
}

.header__menu{
    display: none;
}

/* ---------- HERO */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0 96px 0;
    width: 100%;
}

.hero__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 0 40px;
    width: 1472px;
}

.hero__info{
    display: flex;
    flex-direction: column;
    width: 463px;
    align-items: flex-start;
    gap: 24px;
}

.hero__info-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
}

.hero__info-content{
    width: 100%;
}

.hero__list{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    width: 100%;
}

.hero__list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.hero__info-bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
}

.hero__warranty{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.hero__image{
    max-width: 880px;
}

.hero__image-container{
    width: 100%;
}

/* ---------- SECCION DE SERVICIOS */
.h-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

.services-section{
    flex-direction: column;
}

.services-section__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    max-width: 1208px;
    padding: 0px 40px;
}

.services-section__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
    text-align: center;
}

.services-section__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
}

.services-section__start-btn{
    margin-top: 48px;
}

/* ---------- FOOTER */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 56px 20px 24px 20px;
}

.footer__wrapper{
    display: flex;
    flex-direction: column;
    width: 1128px;
    gap: 48px;
}

.footer__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.footer__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.footer__links-wrapper{
    display: contents;
}

.footer__links-toggle{
    display: none;
}

.footer__link{
    width: 100%;
}

.footer__bottom{
    display: flex;
    flex-direction: column;
}

.footer__logos{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.footer__logos-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__hostinger{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.footer__socials-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__logos-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__payments{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.footer__legals{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer__copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 128px;
    width: 100%;
}